body{
    background-image: url("static/introzle.png");
    background-size: 100%;
}
#okno{
    background-color:rgb(44, 44, 44);
    width: 20vw;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
    align-items: center;
    border-radius: 1rem;
    border: 5px solid black;
}
img{
    margin-left: 30%;
    margin-right: 30%;
}
input{
    margin-left: 15%;
    margin-right: 30%;
}
button{
    margin-left: 40%;
    margin-right: 30%;
}
